USE [Build_Dev]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 11-03-2025 22:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [nvarchar](max) NOT NULL,
	[EMAIL] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
